{% load bootstrap4 %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<!doctype html>
<html lang={{ LANGUAGE_CODE }}>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% translate "Task manager" %}</title>
  <!-- Bootstrap core CSS -->
  {% bootstrap_css %}
  </head>
  <body class="text-center">
    <div class="cover-container d-flex w-100 h-100 p-2 mx-auto flex-column">
      
  <header class="masthead mb-auto rounded border bg-primary pl-3 p-2">
    <div class="inner">
      <h3 class="font-weight-bold text-white text-left m-2">{% translate "Task manager" %}</h3>
      <nav class="nav">
        <a class="btn rounded border bg-light m-2 p-1 pl-2 pr-2"" href="#">{% translate "Users" %}</a>
        <a class="btn rounded border bg-light m-2 p-1 pl-2 pr-2""" href="#">{% translate "Log in" %}</a>
        <a class="btn rounded border bg-light m-2 p-1 pl-2 pr-2"" href="#">{% translate "Sign up" %}</a>
      </nav>
    </div>
  </header>

  <main role="main" class="inner cover m-4">
    <h1 class="cover-heading text-left">{% translate "Registration form" %}:</h1>
    <form class="text-left px-5" method="post">
      {% csrf_token %}
      {% bootstrap_form form %}
      <button type="submit" class="btn btn-primary float-left">{% translate "Register" %}</button>
    </form>
  </main>

  <footer class="container my-5 pt-4 border-top">
    <div class="inner">
      <p>{% translate "Task manager" %} by {% translate "V.Shilo" %}</p>
    </div>
  </footer>
</div>
</body>
</html>
